build/
.settings/
sdkconfig.old
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
libs/IRLib/Arduino-IRRemote/
libs/IRremoteESP8266/
snippets
zconf.hash.i
zconf.hash.s
docs/
Doxyfile

remote_factory.bin
remote_factory.csv
TestFactoryNVS
