[submodule "libs/NimBLE"]
	path = libs/NimBLE
	url = https://github.com/h2zero/esp-nimble-cpp.git
[submodule "partners/drivent"]
	path = partners/drivent
	url = https://github.com/LOOKin-Platform/Firmware-Partners-Drivent.git
