build/
.settings/
sdkconfig.old
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
libs/IRremoteESP8266/
snippets
zconf.hash.i
zconf.hash.s
docs/
managed_components/
cmake-build-debug/
cmake-build-release/
.vscode/
Doxyfile
private_ota_signing_key.pem

remote_factory.bin
remote_factory.csv
TestFactoryNVS

#CLion

.idea/
make-build-debug/
